## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [27]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,54.77,83,92,5.39,overcast clouds
1,1,Busselton,AU,-33.6500,115.3333,64.00,99,98,1.01,overcast clouds
2,2,Mataura,NZ,-46.1927,168.8643,53.46,80,98,1.95,overcast clouds
3,3,Presque Isle,US,46.6811,-68.0159,26.60,50,1,9.22,clear sky
4,4,Butaritari,KI,3.0707,172.7902,80.87,80,100,20.38,overcast clouds
5,5,Ushuaia,AR,-54.8000,-68.3000,59.00,47,40,12.66,scattered clouds
6,6,East London,ZA,-33.0153,27.9116,71.60,88,40,3.44,light rain
7,7,Sakakah,SA,29.9697,40.2064,55.40,62,0,6.91,clear sky
8,8,Rikitea,PF,-23.1203,-134.9692,77.32,72,91,12.30,overcast clouds
9,9,Hobart,AU,-42.8794,147.3294,53.60,58,40,11.50,scattered clouds

In [28]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Butaritari,KI,3.0707,172.7902,80.87,80,100,20.38,overcast clouds
8,8,Rikitea,PF,-23.1203,-134.9692,77.32,72,91,12.30,overcast clouds
15,15,Vaini,TO,-21.2000,-175.2000,78.80,89,75,12.66,light rain
16,16,Atuona,PF,-9.8000,-139.0333,79.41,75,23,21.63,few clouds
23,23,Touros,BR,-5.1989,-35.4608,87.80,58,40,17.27,scattered clouds
31,31,Hithadhoo,MV,-0.6000,73.0833,82.02,70,83,8.19,broken clouds
32,32,Sao Felix Do Xingu,BR,-6.6447,-51.9950,87.66,58,29,3.53,scattered clouds
36,36,Kavaratti,IN,10.5669,72.6420,80.94,69,46,8.66,scattered clouds
39,39,Dabakala,CI,8.3667,-4.4333,89.02,32,13,3.31,few clouds
40,40,Sorong,ID,-0.8833,131.2500,78.82,86,57,5.41,broken clouds

In [30]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                201
City                   201
Country                200
Lat                    201
Lng                    201
Max Temp               201
Humidity               201
Cloudiness             201
Wind Speed             201
Current Description    201
dtype: int64

In [31]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID                200
City                   200
Country                200
Lat                    200
Lng                    200
Max Temp               200
Humidity               200
Cloudiness             200
Wind Speed             200
Current Description    200
dtype: int64

In [32]:
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Butaritari,KI,3.0707,172.7902,80.87,80,100,20.38,overcast clouds
8,8,Rikitea,PF,-23.1203,-134.9692,77.32,72,91,12.30,overcast clouds
15,15,Vaini,TO,-21.2000,-175.2000,78.80,89,75,12.66,light rain
16,16,Atuona,PF,-9.8000,-139.0333,79.41,75,23,21.63,few clouds
23,23,Touros,BR,-5.1989,-35.4608,87.80,58,40,17.27,scattered clouds
31,31,Hithadhoo,MV,-0.6000,73.0833,82.02,70,83,8.19,broken clouds
32,32,Sao Felix Do Xingu,BR,-6.6447,-51.9950,87.66,58,29,3.53,scattered clouds
36,36,Kavaratti,IN,10.5669,72.6420,80.94,69,46,8.66,scattered clouds
39,39,Dabakala,CI,8.3667,-4.4333,89.02,32,13,3.31,few clouds
40,40,Sorong,ID,-0.8833,131.2500,78.82,86,57,5.41,broken clouds

In [33]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Butaritari,KI,80.87,overcast clouds,3.0707,172.7902,
8,Rikitea,PF,77.32,overcast clouds,-23.1203,-134.9692,
15,Vaini,TO,78.80,light rain,-21.2000,-175.2000,
16,Atuona,PF,79.41,few clouds,-9.8000,-139.0333,
23,Touros,BR,87.80,scattered clouds,-5.1989,-35.4608,
31,Hithadhoo,MV,82.02,broken clouds,-0.6000,73.0833,
32,Sao Felix Do Xingu,BR,87.66,scattered clouds,-6.6447,-51.9950,
36,Kavaratti,IN,80.94,scattered clouds,10.5669,72.6420,
39,Dabakala,CI,89.02,few clouds,8.3667,-4.4333,
40,Sorong,ID,78.82,broken clouds,-0.8833,131.2500,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   200
Country                200
Max Temp               200
Current Description    200
Lat                    200
Lng                    200
Hotel Name             200
dtype: int64

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [43]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))